:root {
  background-color: #ecf5ff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-wrap {
  display: grid;
  grid-template-rows: auto;
  width: 40em;
  height: 60em;
  margin: auto;
  margin-top: 5%;
}

.output {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-right: 0.2em;
  background-color: rgb(133, 134, 147);
  font-size: 6rem;
  color: white;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.last_row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.calc_key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(190, 190, 190);
  background: rgb(224, 224, 224);
  font-size: 4rem;
  width: 100%;
}

.operator_key {
  background: rgb(244, 145, 62);
}
